<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>







   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated com.lvl6.mobsters.domainmodel.player -->
      <package
            uri="com.lvl6.mobsters.domainmodel.player"
            class="com.lvl6.mobsters.domainmodel.player.MobstersPlayerPackage"
            genModel="src/main/model/com.lvl6.mobsters.domainmodel.player.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated com.lvl6.mobsters.domainmodel.player -->
      <parser
            type="mobstersplayer"
            class="com.lvl6.mobsters.domainmodel.player.util.MobstersPlayerResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated com.lvl6.mobsters.domainmodel.metadata -->
      <package
            uri="com.lvl6.mobsters.domainmodel.metadata"
            class="com.lvl6.mobsters.domainmodel.metadata.MobstersMetaPackage"
            genModel="src/main/model/com.lvl6.mobsters.domainmodel.metadata.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated com.lvl6.mobsters.domainmodel.metadata -->
      <parser
            type="mobstersmeta"
            class="com.lvl6.mobsters.domainmodel.metadata.util.MobstersMetaResourceFactoryImpl"/>
   </extension>
</plugin>
