<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated player -->
      <package
            uri="com.lvl6.mobsters.domainmodel.player"
            class="com.lvl6.mobsters.domainmodel.player.MobstersPlayerPackage"
            genModel="src/main/model/player.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated player -->
      <parser
            type="mobstersplayer"
            class="com.lvl6.mobsters.domainmodel.player.util.MobstersPlayerResourceFactoryImpl"/>
   </extension>
</plugin>
