<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
		">
	<context:component-scan base-package="com.lvl6.mobsters.dynamo" />

	<bean id="awsCredentials" class="com.amazonaws.auth.BasicAWSCredentials" scope="singleton">
		<constructor-arg index="0" value="${aws.accessKey}" />
		<constructor-arg index="1" value="${aws.secretKey}" />
	</bean>

	<bean id="dynamoClient" class="com.amazonaws.services.dynamodbv2.AmazonDynamoDBClient" scope="singleton">
		<constructor-arg index="0" ref="awsCredentials" />
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="dynamoClient" />
		<property name="targetMethod">
			<value>setEndpoint</value>
		</property>
		<property name="arguments">
			<list>
				<value>${aws.dynamo.endpoint}</value>
				<value>dynamodb</value>
				<value>${aws.dynamo.regionId}</value>
			</list>
		</property>
	</bean>

	<bean id="dynamoMapperConfigTableNamePrefix"
		class="com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBMapperConfig.TableNameOverride"
		factory-method="withTableNamePrefix" scope="singleton">
		<constructor-arg index="0"
			value="${aws.dynamo.table.name.prefix}" />
	</bean>

	<bean id="dynamoMapperConfig"
		class="com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBMapperConfig"
		scope="singleton">
		<constructor-arg index="0"
			ref="dynamoMapperConfigTableNamePrefix" />
	</bean>

	<bean id="dynamoMapper"
		class="com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBMapper"
		scope="singleton">
		<constructor-arg index="0" ref="dynamoClient" />
		<constructor-arg index="1" ref="dynamoMapperConfig" />
	</bean>

	<bean id="setupDynamoDB" class="com.lvl6.mobsters.dynamo.setup.SetupDynamoDB" scope="singleton">
		<property name="checkTables" value="${aws.dynamo.checkTables}" />
		<property name="dynamoClient" ref="dynamoClient" />
	</bean>

	<bean id="dynamoTxManager" class="com.lvl6.mobsters.dynamo.setup.Lvl6TxManager" scope="singleton">
		<constructor-arg index="0" ref="dynamoClient" />
		<constructor-arg index="1" ref="dynamoMapperConfig" />
	</bean>

</beans>
